* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* body */
body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: relative; */

}

.nav {
    /* border: 2px solid red; */
    width: 100%;
    color: white;
    font-size: large;
    position: sticky;
    top: 0px;
    
}

.nav1 {
    background-color: rgb(11, 88, 119);
    /* border: 2px solid yellow;  */
    display: flex;
    position: relative;
    height: 15vh;
    align-items: center;
    box-shadow: 0px 6px 5px rgb(24, 128, 128);
}

.left {
    position: absolute;
    left: 10px;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid white; */
    height: 100%;
}

.right ul li {
    list-style: none;
    margin: 10px 15px;
    /* border: 2px solid pink; */
    padding: 5px 18px;
    border-radius: 40%;
    font-weight: bold;
    transition: background-color 0.5s;
}

.right ul li:hover {
    background-color: antiquewhite;
    color: darkblue;
    cursor: pointer;
}

.right {
    position: absolute;
    right: 10px;
    height: 80%;
    width: 60%;
    /* border: 2px solid greenyellow; */
}

.logo {
    width: 150px;
    height: 80px;
    background-color: burlywood;
}

.nav2 {
    margin: 2px;
    border-radius: 4px;
    background-color: rgb(9, 79, 79);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    /* box-shadow: 0px 6px 5px rgb(24, 128, 128); */
}

.navContent
{
    list-style: none;
    margin: 10px 15px;
    /* border: 2px solid pink; */
    padding: 5px 18px;
    font-weight: bold;
    transition: transform 0.5s;
}
.navContent:hover
{
    transform: scale(1.1);
    cursor: pointer;
    border: 1px solid white;
    border-radius: 8px;

}

/* CSS of template page ends here */
/* main conterner box */
.conatiner {
    height: 100vh;
    width: 80vw;
    /* border: 2px solid blue; */
    border-radius: 8px;
    background-color: rgb(132, 245, 207, 0.7);
    margin: 25px;
    box-shadow: 0px 3px 30px 3px  rgb(24, 128, 128);
}


/* Footer */
.footer {
    margin-top: 25px;
    height: 30vh;
    width: 100%;
    background-color: gray;
}